<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <section class="register-sec">
      <div class="container-md">
        <div class="row">
          <div class="reg-div">
            <form action="/post" method="POST">
              <h3>Бүртгүүлэх</h3>
              <div class="reg-item">
                <input
                  type="text"
                  name="surname"
                  id="surname"
                  placeholder="Овогоо оруулна уу?"
                />
              </div>
              <div class="reg-item">
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Нэрээ оруулна уу"
                />
              </div>
              <div class="reg-item">
                <input
                  type="text"
                  name="password"
                  id="password"
                  placeholder="Нууц үгээ оруулна уу?"
                />
              </div>
              <div class="reg-item">
                <input
                  type="text"
                  name="confirmPassword"
                  id="confirmPassword"
                  placeholder="Баталгаажуулах нууц үгээ оруулна уу?"
                />
              </div>
              <button>Бүртгүүлэх</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
